
body {
    font-family: Arial;
    font-size: 13px;
}
h1, table th{
	font-size: 15px;
}
.pdf_wrapper{
	width: 700px;
	margin: 0 auto;
}

div.logo{
	display: inline;
	margin-right: 20px;
}
h1{
	text-transform: uppercase;
	font-size:20px;
}
h1 span.small, span.small{
	font-size: 11px;
	display:block;
	padding-top:4px;
}

h1.billid, div.billdate{
	display: inline-block;
	margin-top:20px;
	float:left;
}
div.billdate{
	float:right;
}

.items {
clear: both;
width: 100%;
margin: 30px 0 0 0;
border: 1px solid black;
}
table.items{
	border-collapse: collapse;
}
table.items td, table.items th {
border: 1px solid black;
padding: 5px;
}
.items th {
background: #eee;
text-align:left;
text-transform: uppercase;
vertical-align: top;
padding:5px 0;
font-size:15px;
}
.items .item-name {
	width: 40%;
}
.items .item-unit, .items .item-quantity{
	width: 15%;	
}

.items .item-price, .items .item-summa{
	width: 20%;	
}

#items td.blank, #items td.duedate, #items td.title  {
	border: 0;
}
.item-row .quantity{
	text-align:center;
}
.item-row .prices,
.item-total-row .prices{
	text-align:right;
}
.item-total-row .title{
text-align:left;
text-transform: uppercase;
vertical-align: top;
font-size:15px;
}
.paymentmethods{
	border:1px solid black;
	width:100%;
	margin:10px 0;
}
.paymentmethods i.bankicon{
display: inline-block;
margin:10px 10px 10px 24px;
width: 106px;
height: 41px;
}
.paymentmethods i.bankicon.swedbank{
	background-image: url("images/swedbank.png");
	background-size: 105px 40px;
}
.paymentmethods i.bankicon.seb{
	background-image: url("images/seb.jpg");
	background-size: 90px 40px;
	width: 90px;
}
.paymentmethods i.bankicon.nordea{
	background-image: url("images/nordea.jpg");
	background-size: 105px 40px;
}
.paymentmethods i.bankicon.paypal{
	background-image: url("images/paypal.png");
	background-size: 105px 40px;
}
.paymentmethods i.bankicon.webmoney{
	background-image: url("images/webmoney.png");
	background-size: 105px 40px;
}

.footer .item{
	display: inline-block;
	width: 37%;
}
.footer .banks{
	width: 24%;
}
.footer:after{
	clear: both;
  width: 100%;
  content:'';
  height: 1px;
}
.footer .item span{
	display:block;
}

.clear {
  clear: both;
  width: 100%;
  line-height: 0;
  font-size: 0;
  float:none!important;
}
